body{
    background: #ffffff;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
body,p,div,a{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 1200px; 
}
section{
    height: 100vh;
}
.title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    max-width: 800px;
    font-family: 'Montserrat', sans-serif;
}
.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.white{
    color: white;
}
.black{
    color: black;
}
.grey{
    color:grey;
}
/*header*/
header{
    border-bottom: 1px solid #a1a1a1;
    height: 100px;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    background: none;
    z-index: 10;
}
header.scrolling{
    background: #ffffff;
    box-shadow: 0 2px 20px 0px grey;
}
header .container {
    height: 100% ;
    display: flex;
    justify-content: flex-end;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-link a{
    color: white;
}
header.scrolling .menu-link a{
    color: black;
}
.menu-link{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-link.active{
    border-bottom: 2px solid white;
}
header.scrolling .menu-link.active {
    border-bottom: 2px solid black;
}
/*Home*/

#home{
    background:url(../img/Rectangle.png) no-repeat center center fixed;
    background-size: cover;
}
#home .container{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.home-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    display: block;
}
.home-button{
    width: 200px;
    height: 45px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    cursor: pointer;    
}
/*SERVICE*/
#service .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.service-content .service-txt .title{
    max-width: 900px;
    padding-top: 100px;
    padding-bottom: 60px;
}
.service-content .service-txt .subtitle{
    max-width: 650px;
}
.service-articles{
    padding-top: 100px;
}
.service-articles-el1-big-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border: 1px solid #E0E0E0;
    border-radius: 100%;
}
.service-articles-small-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    border-radius: 100%;
}


/* VIDEO */
.works-content{
    max-width: 970px;
    position: relative;
    margin: 0 auto;
}
video{
    display: none;
}
.videoplay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
}
.videoplay a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 33px;
}
.videoplay a:hover{
        background: white;
        color: black;
        box-shadow: 0px 2px 0px 0px grey;
        cursor: pointer;
}