body{
    background: #ffffff;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    font-family: "Montserrat";
}
.a-stylisized{
    text-decoration: underline;
    color: #4985FF;
    cursor: pointer;
}
body,p,div,a{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 1200px; 
}
#home{
    height: 100vh;
}
.title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    max-width: 1200px;
    font-family: "Montserrat";
    letter-spacing: 1px;
}
.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    font-family: "Montserrat";
}
.white{
    color: white;
}
.black{
    color: black;
}
.grey{
    color:grey;
}
.blue{
    color: #4985FF;
}
/*header*/
header{
    border-bottom: 1px solid #a1a1a1;
    height: 100px;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    background: none;
    z-index: 10;
}
header.scrolling{
    background: #ffffff;
    box-shadow: 0 2px 20px 0px grey;
}
header .container {
    height: 100% ;
    display: flex;
    justify-content: flex-end;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-link a{
    color: white;
}
header.scrolling .menu-link a{
    color: black;
}
.menu-link{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-link.active{
    border-bottom: 2px solid white;
}
header.scrolling .menu-link.active {
    border-bottom: 2px solid black;
}
/*Home*/

#home{
    background:url(../img/Rectangle.png) no-repeat center center fixed;
    background-size: cover;
}
#home .container{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.home-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    padding-top: 40px;
}
.button{
    width: 200px;
    height: 45px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    cursor: pointer;
    font-family: "Montserrat";    
    color: white;
    margin-bottom: 120px;
}
/*SECTION #2 (SERVICE) START*/
#service .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.service-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.service-content{
    max-width: 100%;
}
.service-content .service-txt .title{
    max-width: 100%;
    margin-top: 100px;
    padding-bottom: 60px;
    font-size: 36px;
    max-width: 80%;
}
.service-content .service-txt .subtitle{
    max-width: 650px;
}
.service-articles{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
}
.service-art-el{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}
.service-articles-el-txt{
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    padding-top: 50px;
}
.service-content-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
/* SERVICE ARTICLE ICONS */
.service-articles-el-big-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border: 1px solid #E0E0E0;
    border-radius: 100%;
}
.service-articles-small-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    border-radius: 100%;
}
/* SERVICE ARTICLE TEXT */
.service-articles-el-txt .title{
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.service-articles-el-txt .subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    max-width: 200px;
    text-align: left;
}
/* SERVICE CONTENT BUTTON */
.service-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    display: block;
}
/* SECTION #3(PROJECTS) START */
#projects{
    background: #F6F6F8;
    max-height: 100vh;
}
.project-article{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.project-txt .title{
    font-size: 36px;
    text-align: left;
    max-width: 430px;
    padding-bottom: 40px;
}
.project-txt .subtitle{
    font-size: 16px;
    text-align: left;
    color: #999999;
    max-width: 490px;
    padding-bottom: 30px;
    
}
.project-txt a{
    text-align: left;
    font-size: 16px;
    text-decoration: underline;
    color: #4985FF;
    cursor: pointer;
}
.project-img{
    display: block;
}
/* DIVIDING LINE */
.div-line{
    margin-top: 90px;
    width: 1200px;
    border: 1px solid #E0E0E0;
}
/* OUR PROJECTS */
.our-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.op-el{
    padding-right: 100px;
}
.op-el-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.op-el-top .title{
    margin-left: 20px;
}

.op-el-lower{
    display: flex;
    justify-content: flex-start;
}
/* SPEC JOBS */
#spec-jobs{
    background: linear-gradient(to bottom, #5f12d0 0%,#504dc2 50%,#ffffff 50%,#ffffff 100%);
}
#spec-jobs .container .div-line{
    margin-bottom: 85px;
}
.jobs-txt{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    max-width: 1200px;
}
.jobs-articles{
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
}
.jobs-txt .title{
    font-size: 36px;
    text-align: left;
    max-width: 600px;
    
}
.jobs-articles-txt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ja-title{
    text-align: left;
    padding-top: 30px;
}
.ja-subtitle{
    text-align: left;
    max-width: 350px;
    padding-top: 30px;
}
.ja-a{
    padding-top: 30px;
}
/* PROJECT-SECTION(6) */
#project-section{
    background: #F6F6F8;
    
}
#project-section  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    /* max-height: 50vh; */
}
.proj-sec-txt{
    padding-top: 100px;
}
.proj-sec-txt .title{
    font-size: 36px;
} 
 .proj-sec-txt .subtitle{
    font-size: 16px;
    max-width: 730px;
    padding-top: 50px;
}
.proj-sec-imgs{
    margin-top: 70px;
}
.proj-sec-img{
    padding-right: 30px;
}
.proj-sec-button{
   margin-top: 50px;
   margin-bottom: 100px;
}
/* VIDEO */
#works {
    background: url(../img/videoback.png) no-repeat top center ;
    margin-bottom: 85px;
}
#works .container .title{
    font-size: 36px;
    padding-top: 70px;
}
#works .container .subtitle{
    font-size: 16px;
    margin-top: 30px;
}
.works-content{
    max-width: 970px;
    position: relative;
    margin: 0 auto;
    margin-top:100px ;
}
video{
   
    display: none;
}
.videoplay{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
}
.videoplay a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 33px;
}
.videoplay a:hover{
        background: white;
        color: black;
        box-shadow: 0px 2px 0px 0px grey;
        cursor: pointer;
}
/* EMAIL SECTION STYLES */
.email .container{
    border-top: 1px solid #e0e0e0e0;
    padding: 85px 0 ;
}
.email .title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
}
.email .subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    padding-bottom: 30px;
}
.email-footer{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
    font-family: "Montserrat";
}
.email-content{
    width: 490px;
    margin: auto auto 35px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    position: relative;
}
.email-content input{
    background: none;
    padding: 15px 33px 13px;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 60%;
}
::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
}
.email-content button{
    padding: 0;
    margin: 0;
    border-top-left-radius:0;
    border-bottom-left-radius: 0;
    width: 40%;
}
.error{
    position: absolute;
    left:33px;
    bottom: -20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: red;
    font-family: "Montserrat";
    display: none;
}
/* FOOTER */
footer{
    background: #F6F6F8;
}
footer .container{
    padding-top: 70px;
}
.columns{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 70px;
}
.column-list{
    max-width: 255px;
}
.ul-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px;
}
.li-subtitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: block;
    margin-left: 30px;
}
.column-list{
    list-style: none;
}
.column-list li{
    display: flex;
    margin-bottom: 30px;
}
.copyright{
    display: flex;
    justify-content: center;
}
.copyright-txt{
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    padding-top: 30px;
    padding-bottom: 35px;
}
/* MEDIA */
@media all and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}